[submodule "avr/bootloaders/caterina"]
	path = avr/bootloaders/caterina
	url = https://github.com/keyboardio/Model01-Bootloader
[submodule "toolchain"]
	path = toolchain
	url = https://github.com/keyboardio/Kaleidoscope-Prebuilt-Toolchain.git
[submodule "build-tools"]
	path = build-tools
	url = https://github.com/keyboardio/Kaleidoscope-Build-Tools.git
[submodule "avr/libraries/KeyboardioScanner"]
	path = avr/libraries/KeyboardioScanner
	url = https://github.com/keyboardio/KeyboardioScanner
[submodule "avr/libraries/KeyboardioHID"]
	path = avr/libraries/KeyboardioHID
	url = https://github.com/keyboardio/KeyboardioHID
[submodule "avr/libraries/Kaleidoscope"]
	path = avr/libraries/Kaleidoscope
	url = https://github.com/keyboardio/Kaleidoscope
[submodule "avr/libraries/Model01-Firmware"]
	path = avr/libraries/Model01-Firmware
	url = https://github.com/Keyboardio/Model01-Firmware
[submodule "avr/libraries/Kaleidoscope-HIDAdaptor-KeyboardioHID"]
	path = avr/libraries/Kaleidoscope-HIDAdaptor-KeyboardioHID
	url = https://github.com/keyboardio/Kaleidoscope-HIDAdaptor-KeyboardioHID
[submodule "avr/bootloaders/Atreus2"]
	path = avr/bootloaders/Atreus2
	url = https://github.com/keyboardio/Atreus2-Bootloader
[submodule "samd/libraries/Kaleidoscope"]
	path = samd/libraries/Kaleidoscope
	url = https://github.com/keyboardio/Kaleidoscope.git
[submodule "samd/libraries/KeyboardioHID"]
	path = samd/libraries/KeyboardioHID
	url = https://github.com/keyboardio/KeyboardioHID.git
[submodule "samd/libraries/FlashStorage"]
	path = samd/libraries/FlashStorage
	url = https://github.com/dygmalab/FlashStorage.git
[submodule "samd/libraries/Kaleidoscope-HIDAdaptor-KeyboardioHID"]
	path = samd/libraries/Kaleidoscope-HIDAdaptor-KeyboardioHID
	url = https://github.com/keyboardio/Kaleidoscope-HIDAdaptor-KeyboardioHID.git
