[submodule "avr/bootloaders/caterina"]
	path = avr/bootloaders/caterina
	url = https://github.com/keyboardio/Model01-Bootloader
[submodule "toolchain"]
	path = toolchain
	url = https://github.com/keyboardio/Kaleidoscope-Prebuilt-Toolchain.git
[submodule "build-tools"]
	path = build-tools
	url = https://github.com/keyboardio/Kaleidoscope-Build-Tools.git
[submodule "avr/libraries/KeyboardioScanner"]
	path = avr/libraries/KeyboardioScanner
	url = https://github.com/keyboardio/KeyboardioScanner
[submodule "avr/libraries/KeyboardioHID"]
	path = avr/libraries/KeyboardioHID
	url = https://github.com/keyboardio/KeyboardioHID
[submodule "avr/libraries/FingerprintUSBHost"]
	path = avr/libraries/FingerprintUSBHost
	url = https://github.com/keyboardio/FingerprintUSBHost
[submodule "avr/libraries/HID"]
	path = avr/libraries/HID
	url = https://github.com/keyboardio/Arduino-HID
[submodule "avr/libraries/Kaleidoscope-OneShot"]
	path = avr/libraries/Kaleidoscope-OneShot
	url = https://github.com/keyboardio/Kaleidoscope-OneShot
[submodule "avr/libraries/Kaleidoscope-TapDance"]
	path = avr/libraries/Kaleidoscope-TapDance
	url = https://github.com/keyboardio/Kaleidoscope-TapDance
[submodule "avr/libraries/Kaleidoscope-Escape-OneShot"]
	path = avr/libraries/Kaleidoscope-Escape-OneShot
	url = https://github.com/keyboardio/Kaleidoscope-Escape-OneShot
[submodule "avr/libraries/Kaleidoscope-GhostInTheFirmware"]
	path = avr/libraries/Kaleidoscope-GhostInTheFirmware
	url = https://github.com/keyboardio/Kaleidoscope-GhostInTheFirmware
[submodule "avr/libraries/Kaleidoscope-MouseKeys"]
	path = avr/libraries/Kaleidoscope-MouseKeys
	url = https://github.com/keyboardio/Kaleidoscope-MouseKeys
[submodule "avr/libraries/Kaleidoscope-TopsyTurvy"]
	path = avr/libraries/Kaleidoscope-TopsyTurvy
	url = https://github.com/keyboardio/Kaleidoscope-TopsyTurvy
[submodule "avr/libraries/Kaleidoscope-SpaceCadet"]
	path = avr/libraries/Kaleidoscope-SpaceCadet
	url = https://github.com/keyboardio/Kaleidoscope-SpaceCadet
[submodule "avr/libraries/Kaleidoscope-Leader"]
	path = avr/libraries/Kaleidoscope-Leader
	url = https://github.com/keyboardio/Kaleidoscope-Leader
[submodule "avr/libraries/Kaleidoscope-HostOS"]
	path = avr/libraries/Kaleidoscope-HostOS
	url = https://github.com/keyboardio/Kaleidoscope-HostOS
[submodule "avr/libraries/Kaleidoscope-MagicCombo"]
	path = avr/libraries/Kaleidoscope-MagicCombo
	url = https://github.com/keyboardio/Kaleidoscope-MagicCombo
[submodule "avr/libraries/Kaleidoscope-LEDControl"]
	path = avr/libraries/Kaleidoscope-LEDControl
	url = https://github.com/keyboardio/Kaleidoscope-LEDControl
[submodule "avr/libraries/Kaleidoscope-Heatmap"]
	path = avr/libraries/Kaleidoscope-Heatmap
	url = https://github.com/keyboardio/Kaleidoscope-Heatmap
[submodule "avr/libraries/Kaleidoscope-LED-ActiveModColor"]
	path = avr/libraries/Kaleidoscope-LED-ActiveModColor
	url = https://github.com/keyboardio/Kaleidoscope-LED-ActiveModColor
[submodule "avr/libraries/Kaleidoscope-Macros"]
	path = avr/libraries/Kaleidoscope-Macros
	url = https://github.com/keyboardio/Kaleidoscope-Macros
[submodule "avr/libraries/Kaleidoscope-ShapeShifter"]
	path = avr/libraries/Kaleidoscope-ShapeShifter
	url = https://github.com/keyboardio/Kaleidoscope-ShapeShifter
[submodule "avr/libraries/Kaleidoscope-LED-Stalker"]
	path = avr/libraries/Kaleidoscope-LED-Stalker
	url = https://github.com/keyboardio/Kaleidoscope-LED-Stalker
[submodule "avr/libraries/Kaleidoscope-Ranges"]
	path = avr/libraries/Kaleidoscope-Ranges
	url = https://github.com/keyboardio/Kaleidoscope-Ranges
[submodule "avr/libraries/Kaleidoscope-Unicode"]
	path = avr/libraries/Kaleidoscope-Unicode
	url = https://github.com/keyboardio/Kaleidoscope-Unicode
[submodule "avr/libraries/Kaleidoscope-LEDEffects"]
	path = avr/libraries/Kaleidoscope-LEDEffects
	url = https://github.com/keyboardio/Kaleidoscope-LEDEffects
[submodule "avr/libraries/Kaleidoscope-Hardware-Model01"]
	path = avr/libraries/Kaleidoscope-Hardware-Model01
	url = https://github.com/keyboardio/Kaleidoscope-Hardware-Model01
[submodule "avr/libraries/Kaleidoscope-Cycle"]
	path = avr/libraries/Kaleidoscope-Cycle
	url = https://github.com/keyboardio/Kaleidoscope-Cycle
[submodule "avr/libraries/Kaleidoscope-Numlock"]
	path = avr/libraries/Kaleidoscope-Numlock
	url = https://github.com/keyboardio/Kaleidoscope-Numlock
[submodule "avr/libraries/Kaleidoscope-DualUse"]
	path = avr/libraries/Kaleidoscope-DualUse
	url = https://github.com/keyboardio/Kaleidoscope-DualUse
[submodule "avr/libraries/Kaleidoscope-Syster"]
	path = avr/libraries/Kaleidoscope-Syster
	url = https://github.com/keyboardio/Kaleidoscope-Syster
[submodule "avr/libraries/Kaleidoscope-LEDEffect-Chase"]
	path = avr/libraries/Kaleidoscope-LEDEffect-Chase
	url = https://github.com/keyboardio/Kaleidoscope-LEDEffect-Chase
[submodule "avr/libraries/Kaleidoscope-LEDEffect-SolidColor"]
	path = avr/libraries/Kaleidoscope-LEDEffect-SolidColor
	url = https://github.com/keyboardio/Kaleidoscope-LEDEffect-SolidColor
[submodule "avr/libraries/Kaleidoscope-LEDEffect-Breathe"]
	path = avr/libraries/Kaleidoscope-LEDEffect-Breathe
	url = https://github.com/keyboardio/Kaleidoscope-LEDEffect-Breathe
[submodule "avr/libraries/Kaleidoscope-LEDEffect-Rainbow"]
	path = avr/libraries/Kaleidoscope-LEDEffect-Rainbow
	url = https://github.com/keyboardio/Kaleidoscope-LEDEffect-Rainbow
[submodule "avr/libraries/Kaleidoscope-Model01-TestMode"]
	path = avr/libraries/Kaleidoscope-Model01-TestMode
	url = https://github.com/keyboardio/Kaleidoscope-Model01-TestMode
[submodule "avr/libraries/Kaleidoscope"]
	path = avr/libraries/Kaleidoscope
	url = https://github.com/keyboardio/Kaleidoscope
[submodule "avr/libraries/AtmegaScanner"]
	path = avr/libraries/AtmegaScanner
	url = https://github.com/keyboardio/AtmegaScanner
[submodule "avr/libraries/Kaleidoscope-LED-AlphaSquare"]
	path = avr/libraries/Kaleidoscope-LED-AlphaSquare
	url = https://github.com/keyboardio/Kaleidoscope-LED-AlphaSquare
[submodule "avr/libraries/Kaleidoscope-Focus"]
	path = avr/libraries/Kaleidoscope-Focus
	url = https://github.com/keyboardio/Kaleidoscope-Focus
[submodule "avr/libraries/Kaleidoscope-EEPROM-Settings"]
	path = avr/libraries/Kaleidoscope-EEPROM-Settings
	url = https://github.com/keyboardio/Kaleidoscope-EEPROM-Settings
[submodule "avr/libraries/Kaleidoscope-EEPROM-Keymap"]
	path = avr/libraries/Kaleidoscope-EEPROM-Keymap
	url = https://github.com/keyboardio/Kaleidoscope-EEPROM-Keymap
[submodule "avr/libraries/Kaleidoscope-EEPROM-Keymap-Programmer"]
	path = avr/libraries/Kaleidoscope-EEPROM-Keymap-Programmer
	url = https://github.com/keyboardio/Kaleidoscope-EEPROM-Keymap-Programmer
[submodule "avr/libraries/Kaleidoscope-FingerPainter"]
	path = avr/libraries/Kaleidoscope-FingerPainter
	url = https://github.com/keyboardio/Kaleidoscope-FingerPainter
[submodule "avr/libraries/Kaleidoscope-TypingBreaks"]
	path = avr/libraries/Kaleidoscope-TypingBreaks
	url = https://github.com/keyboardio/Kaleidoscope-TypingBreaks
[submodule "avr/libraries/Kaleidoscope-LED-Palette-Theme"]
	path = avr/libraries/Kaleidoscope-LED-Palette-Theme
	url = https://github.com/keyboardio/Kaleidoscope-LED-Palette-Theme.git
[submodule "avr/libraries/Kaleidoscope-Colormap"]
	path = avr/libraries/Kaleidoscope-Colormap
	url = https://github.com/keyboardio/Kaleidoscope-Colormap.git
[submodule "avr/libraries/Kaleidoscope-Steno"]
	path = avr/libraries/Kaleidoscope-Steno
	url = https://github.com/keyboardio/Kaleidoscope-Steno.git
[submodule "avr/libraries/Kaleidoscope-LEDEffect-BootGreeting"]
	path = avr/libraries/Kaleidoscope-LEDEffect-BootGreeting
	url = https://github.com/keyboardio/Kaleidoscope-LEDEffect-BootGreeting
[submodule "avr/libraries/Kaleidoscope-CycleTimeReport"]
	path = avr/libraries/Kaleidoscope-CycleTimeReport
	url = https://github.com/keyboardio/Kaleidoscope-CycleTimeReport
[submodule "avr/libraries/Model01-Firmware"]
	path = avr/libraries/Model01-Firmware
	url = https://github.com/Keyboardio/Model01-Firmware
[submodule "avr/libraries/Kaleidoscope-Hardware"]
	path = avr/libraries/Kaleidoscope-Hardware
	url = https://github.com/Keyboardio/Kaleidoscope-Hardware
[submodule "avr/libraries/Kaleidoscope-NumPad"]
	path = avr/libraries/Kaleidoscope-NumPad
	url = https://github.com/Keyboardio/Kaleidoscope-NumPad
[submodule "avr/libraries/Kaleidoscope-HostPowerManagement"]
	path = avr/libraries/Kaleidoscope-HostPowerManagement
	url = https://github.com/keyboardio/Kaleidoscope-HostPowerManagement
[submodule "avr/libraries/Kaleidoscope-HIDAdaptor-KeyboardioHID"]
	path = avr/libraries/Kaleidoscope-HIDAdaptor-KeyboardioHID
	url = https://github.com/keyboardio/Kaleidoscope-HIDAdaptor-KeyboardioHID
[submodule "avr/libraries/Kaleidoscope-Qukeys"]
	path = avr/libraries/Kaleidoscope-Qukeys
	url = https://github.com/keyboardio/Kaleidoscope-Qukeys
[submodule "avr/libraries/Kaleidoscope-Redial"]
	path = avr/libraries/Kaleidoscope-Redial
	url = https://github.com/keyboardio/Kaleidoscope-Redial
[submodule "avr/libraries/Kaleidoscope-Hardware-EZ-ErgoDox"]
	path = avr/libraries/Kaleidoscope-Hardware-EZ-ErgoDox
	url = https://github.com/keyboardio/Kaleidoscope-Hardware-EZ-ErgoDox
[submodule "avr/libraries/Kaleidoscope-USB-Quirks"]
	path = avr/libraries/Kaleidoscope-USB-Quirks
	url = https://github.com/keyboardio/Kaleidoscope-USB-Quirks
[submodule "avr/libraries/Kaleidoscope-Hardware-Virtual"]
	path = avr/libraries/Kaleidoscope-Hardware-Virtual
	url = https://github.com/keyboardio/Kaleidoscope-Hardware-Virtual
